@import "./resources/Colors.scss";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.nowrap {
  white-space: nowrap;
}

#dropdown-basic-button {
  color: #fff;
  background-color: $SECONDARY_FIRST_DARK;
  border-color: $SECONDARY_FIRST_DARK;
  margin-bottom: 1rem;
}

#dropdown-basic-button:focus {
  box-shadow: 1px 1px 4px 0.1rem #aaaaaa;
}

button {
  @extend .clickable.dark;
  background-color: $SECONDARY_FIRST_DARK;
  color: white;

  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
}

.clickable {
  transition: box-shadow 0.03s;

  &:hover {
    box-shadow: 0 0 0 1px white;

    &.dark {
      box-shadow: 0 0 0 1px #aaaaaa;
    }
  }
}

/*
    Color reference:
    https://flatuicolors.com/palette/es
*/

.color-primary {
  color: #40407a;
}

.color-primary-dark {
  color: #2c2c54;
}

.color-secondary {
  color: #ff5252;
}

.color-secondary-dark {
  color: #b33939;
}

.color-tetriary {
  color: #ff793f;
}

.color-tetriary-dark {
  color: #cd6133;
}

.color-primary-background {
  background-color: #40407a;
}

.color-primary-background-dark {
  background-color: #2c2c54;
}

.color-secondary-background {
  background-color: #ff5252;
}

.color-secondary-background-dark {
  background-color: #b33939;
}

.color-tetriary-background {
  background-color: #ff793f;
}

.color-tetriary-background-dark {
  background-color: #cd6133;
}

.color-attention {
  color: #dd6161;
}

.color-white {
  color: #ffffff;
}

.color-background-white {
  background-color: #ffffff;
}
