.test {
    color: blue;
}

$PRIMARY_FIRST: #40407a;
$FIRST_DARK: #2c2c54;
$SECOND: #706fd3;
$SECOND_DARK: #474787;

$SECONDARY_FIRST: #ff5252;
$SECONDARY_FIRST_DARK: #b33939;
$SECONDARY_SECOND: #ff793f;
$SECONDARY_SECOND_DARK: #cd6133;

$BLACK: #000000;
$DARK: #404040;
$MID: #A9A9A9;
$LIGHT: #D3D3D3;
$WHITE: #FFFFFF;